body{
    background-image: url('imagenes/fondopatitas.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh; 
    margin: 0;
}
h1 {
color: rgb(80, 28, 130);

}

h2 {
color: rgb(80, 28, 130);
}

p {
color: rgb(80, 28, 130);

}

/* Estilo de los botones*/
nav button {
    background-color: transparent;
    border: none;
    
    color: #333;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    

    background-image: url('imagenes/patita.png'); 
    background-size: 25px; 
    background-repeat: no-repeat;     
    background-position: left center; 
    padding: 10px 15px 10px 40px; 
    
    transition: all 0.3s ease;
}

nav button:hover {
    transform: translateY(-4px) scale(1.0);
    color: #d34b4b; 
}

/* Estilo especial para el Modo Oscuro */
#Modo-oscuro {
    /* Puedes dibujar una patita de otro color (quizás gris o negra) para este botón especial */
    background-image: url('imagenes/patitaparapaginaoscura.png');
} 

nav button:hover {
    background-image: url('imagenes/patitaparapagina.png');
    transform: translateY(-4px) scale(1.05);
}